.box {
	border: 2px solid black;
	margin-top: 18%;
	height: 500px;
	background-color: white;
	opacity: 0.91;
}

.bescoLogo {
	width: 70px;
	height: 70px;
}

.box-body {
	margin-top: 10%;
	color: #032396;
	font-family: 'Noto Serif JP', serif;
}

.buttons {
	padding: 30px;
	margin: 10px;
	overflow: hidden;
}

#btn-1,
#btn-2 {
	display: inline-block;
}

#btn-1 {
	float: left;
	margin-left: 250px;
}

#btn-2 {
	float: right;
	margin-right: 240px;
}
.btn-primary {
	padding: 25px;
}
